.highlights
  list-style-type: none
  padding: 0
  li
    background: #004f98
    //background: #f0f4f8
    padding: 0.5em 1em
    margin: 0.3em 0
    border-left: 4px solid #BD5248
    border-radius: 4px
